{% extends 'base.html' %} 

{% block title %}Edit Post{% endblock %} 

{% block header %}
<h1>Edit Post</h1>
{% endblock %} 

{% block content %} 
<form action="/users/{{user.id}}/posts/new" method="POST">
    Title: <input type="text" name='title' maxlength="50" value="post.title" required>
    Content: <input type="text" name='content' value="post.content" required>
    <button>Cancel</button>
    <button>Edit</button>
</form>
<button action="/users/{{user.id}}">Cancel</button>

{% endblock %} 