{% extends 'base.html' %} 

{% block title %}Edit Post{% endblock %} 

{% block header %}
<h1>"Title of Post"</h1>
{% endblock %} 

{% block content %} 
"Content of Post"
<h3>{{post.title}}</h3>
<p>{{post.content}}</p>
<form action="/users/{{user.id}}/posts/new" method="POST">
    Title: <input type="text" name='title' maxlength="50" required>
    Content: <input type="text" name='content' required>
    <button >Cancel</button>
    <button>Edit</button>
    <button>Delete</button>
</form>
<button action="/users/{{user.id}}">Cancel</button>

{% endblock %} 